.split-container {
    display: flex;
    height: 80vh;
    overflow: hidden;
}

.split-left, .split-right {
    flex-grow: 1;
    min-width: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.split-left {
    overflow: hidden;
}

.split-right {
    overflow-y: scroll;
}

.split-handle {
    width: 2px;
    background-color: #ddd;
}
